# Logs
logs

# Dependency directories
node_modules/
.eslintrc.json
package-lock.json

# local settings
config/+local.properties
sslcert
public/r
postprocessing/keep
postprocessing/also

# VSCode
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
