# Logs
logs

# Dependency directories
node_modules/
.eslintrc.json
package-lock.json

# local settings
config/+local.properties
sslcert

# VSCode
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
public/external/svg.draggable.js

.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
