block content

	div#content

		div#left

			h1= title
			
			div#intro !{intro}

			div#drawing

			div#footer Bilddaten: Chaladze, G., Kalatozishvili, L. (2017).  
				a(href='http://chaladze.com/l5/') Linnaeus 5 Dataset 
				| for Machine Learning.

		div#right

			div#playerturn
				span#active 

			div#status 
				div Noch bis zu 
					span#selects
					|  in diesem Zug entfernen  
				div 
					| A 
					span#unqA
					|  / B 
					span#unqB 
					|  Unterschiede übrig 
				div 
					span#turncount 
					|  Züge bisher 
			
			div#chat
				ul#messages
			
			div(class='inputsection')#write
				input(type='text')#box
				button#sendText Senden

			div(class='inputsection')#extras
				button#sendExtra Wählen: 
				input(type='checkbox', class='undo', name='extras', value='undo')#undo
				input(type='checkbox', class='undo', name='extras', value='undo-partner', disabled ='true')#undo-partner
				label(for='undo', class='undo') Rückgängig
				input(type='checkbox', class='joker', name='extras', value='joker')#joker
				input(type='checkbox', class='joker', name='extras', value='joker-partner', disabled ='true')#joker-partner
				label(for='joker', class='joker') Joker

			div(class='wideButton')
				button#endTurn Zug beenden

			div(class='gameChoice') 
				a#newPartner(href='javascript:') Neues Spiel

			div(class='gameChoice') Anderes Level: 
				a(href='/level1') 1 
				a(href='/level2') 2 
				a(href='/level3') 3 
				a(href='/level4') 4 

			div#copyright Copyright 2018 
				a(href='https://github.com/stefanborchardt/textgame') Stefan Borchardt 

			
