block content

	div#content

		div#left

			h1= title
			
			div#intro Sie und Ihr Mitspieler sehen die gleichen Bilder - fast. 
				| Finden Sie die Unterschiede, indem Sie abwechselnd alle gleichen entfernen. 
				| Je weniger Züge, desto besser.

			div#drawing

		div#right

			div#playerturn
				span#active 

			div#status 
				div Noch bis zu 
					span#selects
					|  in diesem Zug entfernen  
				div 
					| A 
					span#unqA
					|  / B 
					span#unqB 
					|  Unterschiede übrig 
				div 
					span#turncount 
					|  Züge bisher 
				div 
					span#undosAvailable
					|  Rückgängig verfügbar 
				div 
					span#incselsAvailable
					|  extra Auswahl verfügbar 
			
			div#chat
				ul#messages
			
			div(class='inputsection')#write
				input(type='text')#box
				button#sendText Send

			div(class='inputsection')#extras
				input(type='radio', name='extras', value='undo')#undo
				label(for='undo') rückgängig
				input(type='radio', name='extras', value='incsels')#incsels
				label(for='incsels') Auswahl erhöhen
				button#sendExtra Send

			div(class='wideButton')
				button#endTurn Zug beenden

			div(class='wideButton')#newgame
				button#newPartner Neuer Partner

			div#footer Bilddaten: Chaladze, G., Kalatozishvili, L. (2017).  
				a(href='http://chaladze.com/l5/') Linnaeus 5 Dataset 
				| for Machine Learning.
