block content

	div#content

		div#left

			h1= title
			
			div#intro #{intro}

			div#drawing

			div#footer Bilddaten: Chaladze, G., Kalatozishvili, L. (2017).  
				a(href='http://chaladze.com/l5/') Linnaeus 5 Dataset 
				| for Machine Learning.

		div#right

			div#playerturn
				span#active 

			div#status 
				div Noch bis zu 
					span#selects
					|  in diesem Zug entfernen  
				div 
					| A 
					span#unqA
					|  / B 
					span#unqB 
					|  Unterschiede übrig 
				div 
					span#turncount 
					|  Züge bisher 
				div 
					span#undosAvailable
					|  Rückgängig verfügbar 
				//- div 
				//- 	span#incselsAvailable
				//- 	|  extra Entfernen verfügbar 
			
			div#chat
				ul#messages
			
			div(class='inputsection')#write
				input(type='text')#box
				button#sendText Senden

			div(class='inputsection')#extras
				button#sendExtra Wählen: 
				input(type='checkbox', name='extras', value='undo')#undo
				label(for='undo') Rückgängig
				//- input(type='radio', name='extras', value='incsels')#incsels
				//- label(for='incsels') Entfernen erhöhen

			div(class='wideButton')
				button#endTurn Zug beenden

			div(class='gameChoice') 
				a#newPartner(href='javascript:') Neues Spiel

			div(class='gameChoice') Anderes Level: 
				a(href='/level1') 1 
				a(href='/level2') 2 
				a(href='/level3') 3 
				a(href='/level4') 4 

			
