
//- Bootstrap
script(src="/external/jquery-3.3.1.min.js")
script(src='/external/bootstrap.bundle.min.js')
//- Websocket - game version specific!
script(src='/external/primuseasy.js')
//- SVG
script(src='/external/svg.min.js')
//- game client
script(src='/client/easy.js')