//- SVG
script(src='https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.5/svg.min.js', integrity='sha256-QvaFssiJCr71CxCZfYVWAXXGlwAqXbXerSdoW2t/Few=', crossorigin='anonymous')
script(src='/javascripts/client.js')