include head

block content
	h1= title

	div#content

		div#sizing
			div#drawing

			div#chat
				ul#messages

			div#write
				input#box(type='text')
				button#sendText Send 

		div#turnover
			button#endTurn Wechseln

	include foot

	