include head

block content
	h1= title

	div#content

		div#drawing

		div#sizing
			div#status 
				| Z체ge bisher 
				span#turncount 
				| R체ckg채ngig verf체gbar 
				span#undos
			
			div#chat
				ul#messages
			
			div#write
				input#box(type='text')
				button#sendText Send

			div(class='wideButton')
				button#endTurn Zug beenden
			div(class='wideButton')
				button#newPartner Neuer Partner

	include foot

	