doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title= title
		link(rel='stylesheet', href='/style.css')
		//- Bootstrap
		link(rel='stylesheet', href='/external/bootstrap-reboot.min.css')
	body
		h1= title
		a(href='/intro/aye') OK