doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title= title
		link(rel='stylesheet', href='/style.css')
		//- Bootstrap
		link(rel='stylesheet', href='/external/bootstrap-reboot.min.css')
	body
		block content

		ul
			li no registration, secure connection
			li some actions and messages are captured for science, anonymously
			li link between player and stored events is in volatile memory only
		
		form(method="post", action="/login")
			label Password: 
			input(type="password", name="password")
			input(type="submit" value="Login")
