doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title= title
		link(rel='stylesheet', href='/style.css')
		//- Bootstrap
		link(rel='stylesheet', href='/external/bootstrap-reboot.min.css')
	body
		block content

		ul
			li ohne Benutzerkonto
			li verschlüsselte Verbindung
			li anonymisierte Logfiles
		
		form(method="post", action="/login")
			label Password:
			input(type="password", name="password")
			input(type="submit" value="Login")
