body {
  padding: 2vw;
}
h2 {
  text-decoration: underline;
  margin-bottom: 3vh;
}
#content {
  display: flex;
  align-items: center;
}

#left {
  flex: 2;
  max-width: 80vh;
  min-width: 600px;
}

#drawing {
  margin-right: 3vw;
}

svg {
  overflow: visible;
}

#right {
  flex: 1;
  max-width: 40vh;
  min-width: 300px;
}

#playerturn, #active {
  font-size: 120%
}

#playerturn {
  padding-left: 1vw;
  margin-bottom: 2vh;
}
.ownTurn {
  background-color: #88cc88;
}
.partnerTurn {
  background-color: #ffaaaa;
}

#status {
  width: 100%;
  font-size: 110%;
}
#status * #selects {
  font-size: 170%;
}
#status * span {
  font-weight: bold;
  font-size: 110%;
}

#chat {
  border: 1pt solid black;
  height: 25vh;
  overflow-y: scroll;
  overflow-x: hidden;
  will-change: scroll-position;
  margin-bottom: 2vh;
}
ul {
  list-style: none;
  padding-inline-start: 1vw;
}
li {
  white-space: normal;
}
.ownMsg {
  color: #1a056b;
  margin-left: 1vw;
}
.partnerMsg, .partnerTyping {
  color: #980000;
}

.inputsection {
  margin-bottom: 2vh;
}

#write, #control {
  display: flex;
}

#turnButton {
  align-self: center;
}

/* #endTurn, #sendText {
  background-color: #88cc88;
  border-top-color: #b4e0b4;
  border-left-color: #b4e0b4;
  border-bottom-color: #58ac58;
  border-right-color: #58ac58;
} */

#endTurn {
  font-size: 110%;
}

#write > input {
  margin-right: 1vw;
  width: 100%;
}

#extras {
  font-size: 110%;
}
#extras > input {
  margin-left: 0.5vw;
} 
#extras > label {
  margin-left: 0.5vw;
  margin-right: 1vw;
} 

.gameChoice {
  margin-bottom: 2vh;
}
#newPartner {
  margin-right: 5vw;
}

#copyright, #footer, #skip {
  font-size: 80%;
}

.glow {
  animation-duration: 0.12s;
  animation-name: glow;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes glow {
  from {
    box-shadow: none;
    background-color: none;
  }
  to {
    box-shadow: 0 0 1vh #2d882d;
    background-color: #88cc88;
  }
}

.warn {
  animation-duration: 0.12s;
  animation-name: warn;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes warn {
  from {
    box-shadow: none;
    background-color: none;
  }
  to {
    box-shadow: 0 0 1vh #d76e6e;
    background-color: #ffaaaa;
  }
}

.screenshot {
  width: 30vw;
  min-width: 350px;
  margin-right: 5vw;
}
#screens {
  display: flex;
  margin-top: 2vh;
  font-size: 130%;
  text-decoration: underline;
}
.w50 {
  width: 50vw;
  margin-bottom: 1vh;
}
.plus {
  font-size: 110%;
  margin-bottom: 2vh;
}
.ok {
  font-weight: 900;
  font-size: 250%;
  margin-left: 10vw;
  vertical-align: text-top;
}

#next {
  text-align: right;
  margin-bottom: 4vh;
}
.nextlink {
  font-weight: 900;
  font-size: 250%;
}