body {
  padding: 2vw;
}

#content {
  display: flex;
  flex-direction: row;
  width: 90vw;
  align-items: center;
}

#drawing {
  margin-right: 3vw;
  width: 100%;
  min-width: 500px;
  height: 80vh;
}

#right {
  width: 40vw;
  min-width: 30vw;
}

#playerturn, #active {
  width: 100%;
  font-size: 120%
}

#playerturn {
  padding-left: 1vw;
  margin-bottom: 2vh;
}
.ownTurn {
  background-color: #88cc88;
}
.partnerTurn {
  background-color: #ffaaaa;
}

#status * span {
  font-weight: bold;
}

#chat {
  border: 1pt solid black;
  height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
  will-change: scroll-position;
  margin-bottom: 2vh;
}

ul {
  list-style: none;
  padding-inline-start: 1vw;
}

li {
  white-space: normal;
}
.ownMsg {
  color: #1a056b;
}
.partnerMsg {
  color: #980000;
  margin-left: 1vw;
}

.inputsection {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inputsection > button {
  display: flex;
  flex-direction: row;
}

#write > input {
  margin-right: 1vw;
  width: 100%;
}

#extras > input {
  margin-right: 0.5vw;
} 

#extras > label {
  margin-right: 1vw;
  width: 100%;
} 

.wideButton, #status {
  margin-bottom: 2vh;
  width: 100%;
}

.wideButton > button {
  width: 100%;
}

#newgame {
  margin-top: 4vh;
}
